<div class="logo-social-links__container">
  <div class="logo-social-links__logo">
    {%- if block.settings.image != blank -%}
      {% assign image = block.settings.image %}
      {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
      {%- render 'responsive-image', image: image, sizes: master_width, retina: 1, priority: 'low' -%}
    {%- endif -%}
  </div>
  <div class="logo-social-links__social">
    {%- if block.settings.show_social_links -%}
      {%- render 'social-links' -%}
    {%- endif -%}
  </div>
</div> 