{{ 'logo-social-links.css' | asset_url | stylesheet_tag }}

<div class="logo-social-links">
  <div class="row {% if section.settings.full_width %}full-width-row{% endif %}">
    <div class="small-12 columns">
      <div class="logo-social-links__container">
        <div class="logo-social-links__logo">
          {%- if section.settings.logo != blank -%}
            {% assign image = section.settings.logo %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1, priority: 'low' -%}
          {%- endif -%}
        </div>
        <div class="logo-social-links__social">
          {%- if section.settings.show_social_links -%}
            {%- render 'social-links' -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logo with Social Links",
  "class": "section-logo-social-links",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Make section full width"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "240 x 100 px .png recommended."
    },
    {
      "type": "checkbox",
      "id": "show_social_links",
      "label": "Show social links",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Logo with Social Links",
      "category": "Custom Content"
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %} 